.body-all {
    font-family: 'Varela Round', sans-serif;
    background-color: beige;
    margin: 0px;
    padding: 0;

}
.Fond {
    text-align: center;
    background-color: magenta;
    font-weight: normal;
    font-size: 100px;
}


.Bgblack {
    background-color: pink;
    padding-top: 100px;
}

.liste{
    display: inline-block;

}

.smiley1 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    filter: drop-shadow(8px 8px 10px magenta);
}


.smiley1:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


.smiley2{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    filter: drop-shadow(8px 8px 10px magenta);
}

.smiley2:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.smiley3{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    filter: drop-shadow(8px 8px 10px magenta);
}

.smiley3:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.smiley4{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    filter: drop-shadow(8px 8px 10px magenta);
}

.smiley4:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.smiley5{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    filter: drop-shadow(8px 8px 10px magenta);
}

.smiley5:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.smiley6{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    filter: drop-shadow(8px 8px 10px magenta);
}

.smiley6:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.smiley6{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    filter: drop-shadow(8px 8px 10px magenta);
}

.smiley6:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.smiley7{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    filter: drop-shadow(8px 8px 10px magenta);
}

.smiley7:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.smiley8{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    filter: drop-shadow(8px 8px 10px magenta);
}

.smiley8:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.smiley9{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    filter: drop-shadow(8px 8px 10px magenta);
}

.smiley9:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.smiley10{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    filter: drop-shadow(8px 8px 10px magenta);
}

.smiley10:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.smiley\!{
    display: inline-block;

}









