.body-all {
    font-family: 'Varela Round', sans-serif;
    background-color: beige;
    margin: 0px;
    padding: 0px;

}
.Fond {
    text-align: center;
    background-color: magenta ;
    font-weight: normal;
    font-size: 100px;
}

.Bgblack {
    background-color: pink;
    padding-top: 20px;
}
.boutonPlacer {
    text-align: center;
    background-color: magenta;
    border: none;
    color: beige;
    padding: 10px;
    margin-left: 820px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.5s;

}

.boutonPlacer span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.boutonPlacer span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.boutonPlacer:hover span{
    padding-right: 25px;
}
.boutonPlacer:hover span:after{
    opacity: 1;
    right: 0;
}

.boutonPlacer:active{
    background-color: magenta;
    box-shadow: 0 5px #666;
transform: translateY(10px);



