.body-all {
    font-family: 'Varela Round', sans-serif;
    background-color: beige;
    margin: 0px;
    padding: 0px;

}
.Fond {
    text-align: center;
    background-color: magenta ;
    font-weight: normal;
    font-size: 100px;
}

.Bgblack {
    background-color: black;
    padding-top: 20px;
}
.boutonPlacer {
    text-align: center;
    background-color: magenta;
    border: none;
    color: beige;
    padding: 10px;
    margin-left: 820px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}



